<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>{% block title %}No title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">
</head>
<body>
{% block login %}
    <div id="login">
    {% if user.is_authenticated %}{{user}}<br>
        <a href="{% url django.contrib.auth.views.logout %}?next=/">Logout</a>
        <a href="{% url editprofile user.id %}">Profile</a>
    {% else %}
        <a href="{% url django.contrib.auth.views.login %}?next=/">Login</a>
    {% endif %}
    </div>
{% endblock %}
{% block body %}{% block content %}{% endblock content %}{% endblock body %}</body>
</html>
