body {
    margin:0 20px;
}

#login {
    float:right;
}

h2 {
    clear:both;
}
#leftcolumn {
    float:left;
    width:300px;
}

#leftcolumn img {
    width:290px;
    margin-bottom:10px;
    border:1px solid black;
}

#rightcolumn {
    margin-left:310px;
    width:350px;
}

.clear {
    clear:both;
}

form div {
    text-align:right;
}

