body {
    margin:0 20px;
    width:700px;
}

#login {
    float:right;
}

div {
    margin-bottom:5px;
}

#leftcolumn {
    float:left;
    width:300px;
}

#leftcolumn img {
    width:290px;
    margin-bottom:10px;
    border:1px solid black;
}

#rightcolumn {
    margin-left:310px;
    width:350px;
}

.clear {
    clear:both;
}

form div div {
    text-align:right;
}

#message {
    padding:4px 5px 4px 25px; 
    border-bottom:1px solid #ddd; 
    background:#ffc url(admin/img/admin/icon_success.gif) 5px .3em no-repeat; 
}
